.App {
  text-align: center;
}

body {
  background: rgb(58, 77, 77);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

div#root {
  position: relative;
  overflow: hidden;
  background: rgba(131, 231, 176, 0.35);
  border: 1px solid rgba(118, 215, 161, 0.31);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.9px);
  -webkit-backdrop-filter: blur(7.9px);
}

.stopwatch {
  text-align: center;
  margin-top: 50px;
}

.display {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
}

button {
  margin: 5px;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  background-color: #4CAF50;
  color: rgb(0, 0, 0);
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

button:active {
  background-color: #3e8e41;
}

button.stop-button {
  background-color: #a80505;
  color: rgb(0, 0, 0); 
}

button.stop-button:hover {
  background-color: #8b0505;
}

button.stop-button:active {
  background-color: #990000; 
}

